*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
} 
*,*::before,*::after
{
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body
{
    height:2000px;
}

#header
{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 100px; 
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #ccc;
    z-index: 1;
}

.ul-package li
{
    padding: 0 40px;
    display:inline-block;
}


.ul-package li, a, button
{
    font-weight: 600px;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    color:black;
}

.ul-package button
{
    border-radius:28px;
    font-size:14px;
    font-weight: 600px;
    padding: 14px 18px;
    text-transform: uppercase;
    cursor:pointer;
    background-color: #FF5E61;
    color:white;    
    border:none;
}
.ul-package button:hover
{
    opacity: 0.8;
}
.search-informations
{
    padding: 0 40px;
    justify-content: space-evenly;
    display:flex;
    position: relative;
    top:150px;
}
.dates
{
    position: relative;
}
.start-date,.end-date
{
    padding: 20px 24px;
    border: 1px solid #333;
}
.end-date
{
}

.places input , .start-date,.end-date , .human-information input
{
    box-shadow: 0 4px 12px 4px rgba(0, 0, 0, 0.1);
    border:none;
    border-radius:20px;
    padding: 20px 24px;
}

.search-informations button
{
    border-radius: 5px;
    cursor: pointer;
    background-color: #F17359;
    color:white;
    border:none;
    padding: 16px 30px;
}
.search-informations button:hover
{
    opacity: 0.8;
}
.places , .start-date,.end-date , .human-information
{
    position: relative;
}
.places i 
{
    font-size: 20px;
    position: absolute;
    right:10px;
    top:17px;
    cursor:pointer;
}
.places i :hover
{
    color:#FF5E61;
}

.dates
{
    position: relative;
}
.dates #calendar-2
{
    cursor: pointer;
    font-size: 20px;
    color:#F17359;  
    cursor: pointer;
    position: absolute;
    top:16px;
    right:17px;
}

.dates #calendar-1
{
    cursor: pointer;
    position: relative;
    right:38px;
    font-size: 20px;
    color:#F17359;
    top:4px;
}


.human-information i
{
    position: absolute;
    font-size: 20px;
    left:184px;
    top:17px;
}
.human-information i:hover
{
    color:#F17359;
}
.search-hotels
{
    width:346px;
    height:1150px;
    border: 1px solid rgba(0,0,0,0.3);
    position: relative;
    top: 250px;
    left:200px;
}
.search-hotels > input
{
    border: 2px solid black;
    padding: 10px 60px;
    position: absolute;
    top:30px;
    left:25px;
}
.search-hotels > i
{
    cursor:pointer;
    font-size:30px;
    position: absolute;
    left:280px;
    top:34px;
}

.line-1
{
    position: relative;
    top:90px;
    width:292px;
    left:25px;
}
.star-section
{
    position: absolute;
    top:120px;
    left:25px;
}

.star-section > p, .area-section > p,.accommodation-section > p , .services-section > p
{
    font-size: 20px;
    font-weight: 600;
}

.checkbox-star
{
    margin-top:10px;
    color: #FFF73F;
}

.line-2
{
    position: relative;
    top:300px;
    width:292px;
    left:25px;
}
.area-section
{
    position: absolute;
    top:335px;
    left:25px;
}
.checkbox-area
{
    margin-top:10px;
}
.watch-more,.watch-more-1,.watch-more-2
{
    cursor: pointer;
    font-size: 14px;
    position: relative;
    left:200px;
}
.line-3
{
    position: relative;
    top:570px;
    width:292px;
    left:25px;
}

.accommodation-section
{
    position: absolute;
    top:610px;
    left:25px;
}
.checkbox-accommodation
{
    margin-top:10px;
}


.line-4
{
    position: relative;
    top:845px;
    width:292px;
    left:25px;
}

.services-section
{
    position: absolute;
    top:900px;
    left:25px;
}

.checkbox-service
{
    margin-top:10px;
}

.content-img-1
{
   display: inline-block;
}

.content-img-1 img
{
    border-radius: 10px;
    width: 409px;
    height:305px;
}

.content-information
{
    width:900px;
    position: relative;
    top:-901px;
    left:580px;
}

.information-for-img-1
{
    position: absolute;
    top:-2px;
    left:430px;
}

.star-for-each-hotel
{
    font-weight: 800;
    color:#FFF73F;
    margin-top:10px;
}
.information-details
{
    margin-left:3px;
    width:300px;
    font-size:12px;
}
.information-for-img-1 p 
{
    margin-top:10px;
}
.information-for-img-1 .hotel-name
{
    font-weight: 800;
    font-size:24px;
    margin:-5px;
    margin-left:1px;
}

.information-for-img-1 .location-details 
{
    font-weight: 800;
    font-size: 16px;
}
.information-for-img-1 .location-details i
{
    margin-right:4px;
    font-size: 20px;
    color:#F17359;
}
.more-detail
{
    cursor: pointer;
    font-size:12px;
}
.more-detail i
{
    margin: 0 4px 2px 0;
}


.score-detail
{
    position: absolute;
    right: 0;
    top:0;
    bottom:0;
    font-size: 44px;
    color: #F17359;
    border-radius: 12px;
    margin-top:-10px;
}



.buy-button
{
    position: absolute;
    bottom: 0;
    right:0;
    margin-bottom: 2px;
}

.buy-button button
{
    cursor: pointer;
    background-color: #1CABBE;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    color: white;
    border-radius: 20px;
    border:none;
    padding: 15px 40px;
}
.buy-button button:hover
{
    opacity:0.8;
}

.content-information-alt
{
    margin-top:30px;
}

.more-button
{
    position: absolute;
    top: 2400px;
    right:780px;
}

.more-button  button
{
    cursor: pointer;
    font-size: 14px;
    font-weight: 800;
    background-color: #F17359;
    color:white;
    border: none;
    border-radius: 15px;
    padding:20px 70px;
}
.more-button  button:hover
{
    opacity: 0.8;
}